backend/app/__pycache__/main.cpython-312.pyc
backend/app/__pycache__/utils.cpython-312.pyc
backend/app/__pycache__/main.cpython-312.pyc
backend/app/__pycache__/utils.cpython-312.pyc
backend/app/__pycache__/utils.cpython-312.pyc
docker-compose.yml
backend/app/__pycache__/utils.cpython-312.pyc
backend/app/__pycache__/main.cpython-312.pyc
docker-compose.yml
frontend/package-lock.json
frontend/package-lock.json
backend/app/__pycache__/main.cpython-312.pyc
backend/app/__pycache__/utils.cpython-312.pyc
/.idea
/node_modules
*.pyc
