<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Solicitud</h1>
    <form action = "" method = "post" enctype="multipart/form-data">
        {{% csrf_token %}}
        {{ form.es_principal }}
        {{ form.monto }}
        {{ form.tipo }}
        <div id="archivo_field" style="display:none;">
            {{ form.archivo }}
        </div>
        {{ form.solicitud }}
        {{ form.estado }}
        <input type="submit" value="Enviar">
    </form>
</body>
</html>