.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 25px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rendiciones-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color:black;
  font: 14px Arial, sans-serif;
}

.rendiciones-table th, .rendiciones-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.rendiciones-table th {
  background-color: #f8f9fa;
  font-weight: bold;
  font-size: 14px;
}

.rendiciones-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.rendiciones-table td {
  font-size: 14px;
}

.estado-pendiente {
  color: #f36c12; /* Color naranja para el estado "Pendiente" */
  font-weight: bold;
}

.estado-rechazado {
  color: #ff0000; /* Color rojo para el estado "Rechazado" */
  font-weight: bold;
}
.estado-por-devolver {
  color: #0011ff; /* Color rojo para el estado "Por devolver" */
  font-weight: bold;
}

.estado-aprobado {
  color: #1fc919; /* Color verde para el estado "Aprobado" */
  font-weight: bold;
}

.comentario-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
textarea {
  width: 100%;
  min-height: 100px; /* Altura mínima para mantener una base */
  resize: vertical; /* Permite que el usuario expanda verticalmente */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.acciones {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 5px; 
  margin-top: 20px;
  width: 100%;
}

.comentario-section {
  width: 100%; 
}


.estado-section {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.botones-estado{
  display: flex;
  gap: 10px; 
}

.rechazar-btn {
  background-color: #ff4b4b;
  color: white;
}

.validar-btn {
  background-color: #4caf50;
  color: white;
}

.volver-btn {
  background-color: #007bff;
  color: white;
  margin-right: auto; /* Empuja el resto de los botones hacia la derecha */
}

button:hover {
  opacity: 0.8;
}

/* Estilo para el contenedor del dashboard */
.dashboard-container {
  display: flex;
}

/* Estilo del sidebar */
.sidebar {
  background-color: #8295b8;
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.3s ease; /* Smooth transition */
  width: 250px;
}

.sidebar.expanded {
  width: 250px;
}

.sidebar.collapsed {
  width: 50px;
}

/* Estilo para el botÃ³n de colapsar/expandir */
.toggle-btn {
  background-color: #484ab4;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

/* Estilos para los enlaces del sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  cursor: pointer;
  color: white;
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  color: #ffffff; 
  background-color: #72c5db;
}


.dashboard-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}


.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.form-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.form-input,
.form-select,
.form-file-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.home-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.home-content {
  display: flex;
  gap: 30px;
}

.home-section {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.home-section h2 {
  color: #555;
  margin-bottom: 20px;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #4caf50;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #45a049;
}

.title-container {
  background-color: #8295b8; /* Matching sidebar color */
  color: white;
  padding: 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0; /* Remove default margin */
  align-items: center; /* Center text vertically */
  box-shadow: none; /* Remove any shadow */
  height: 60px; /* Fixed height to align with the sidebar */
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
}

.search-terms {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.rendicion-detalles-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.rendicion-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  margin-top: 20px;
  font-size: 14px;
}

.rendicion-card p {
  margin: 10px 0;
}

.estado-pendiente {
  color: #f36c12; /* Naranja */
  font-weight: bold;
}

.estado-rechazada {
  color: #ff0000; /* Rojo */
  font-weight: bold;
}

.estado-por-devolver {
  color: #0011ff; /* Azul */
  font-weight: bold;
}

.estado-devuelta {
  color: #1fc919; /* Verde */
  font-weight: bold;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}

.loading {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.resumen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.resumen-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.resumen-card h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.resumen-content {
  margin-top: 20px;
}

.dinero-devuelto,
.dinero-por-devolver {
  font-size: 18px;
  margin: 10px 0;
}

.dinero-devuelto {
  color: #4caf50; /* Verde */
  font-weight: bold;
}

.dinero-por-devolver {
  color: #ff5722; /* Naranja */
  font-weight: bold;
}

.loading-message {
  color: #888;
  font-size: 16px;
}
